.cabal-sandbox/
.DS_Store
.ghc.environment.*
.hpc
.hsenv
.HTF/
.stack-work/
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hie
*.hp
*.o
*.prof
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist
dist-*

**/.claude/settings.local.json

haskell/samples/

